head
	title= title
	//- link(href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,700' rel='stylesheet' type='text/css')
	//- link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')

	//- link(rel='stylesheet', href='/vendor/bootstrap/css/docs.css')
	//- link(rel='stylesheet', href='/vendor/datepicker/css/datepicker.css')
	//- link(rel='stylesheet', href='/vendor/webfonts/ss-pika.css')
	//- link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.min.css')
	//- link(rel='stylesheet', href='/vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css')
	//- link(rel='stylesheet', href='/vendor/pe-icon-7-stroke/css/helper.css')
	//- link(rel='stylesheet', href='/vendor/angular/ng-tags-input/ng-tags-input.min.css')
	//- link(rel="stylesheet", href="/app/bower_components/lumx/dist/css/lumx.css")
	link(rel='stylesheet', href='/fonts/ss-social/ss-social.css')
	link(rel='stylesheet', href='/stylesheets/main.min.css')
	//- link(rel="import", href="/app/bower_components/hello-world-element/src/hello-world.html")
	link(rel='import', href='/components/browser.html')


