head
	title= title

	link(rel="stylesheet", href="/app/bower_components/lumx/dist/css/lumx.css")
	link(rel='stylesheet', href='/app/bower_components/mdi/css/materialdesignicons.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	
	link(rel='import', href='/components/browser.html')


