<template>
  	<style>
  		.cover {
			background: white;
			border-top: 1px solid #E6E6E6;
			height: 3.5em;
			margin-top: -1em;
			position: relative;
			width: 100%;
			z-index: 999; 
		}
    	.browsers {
			display: inline-block;
			padding-top: 0;
			text-align: center;
			width: 100%; 
		}
		@media screen and (min-width: 53.75em) {
		    .browsers {
		      	padding-top: 2em; 
		    } 
		}
		.browsers .browser-top-bar {
		    background-color: #ececec;
		    background-image: -webkit-linear-gradient(#ececec, #e7e7e7);
		    background-image: linear-gradient(#ececec, #e7e7e7);
		    border-top-left-radius: 3px;
		    border-top-right-radius: 3px;
		    border: 0px;
		    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
		    height: 1.5em;
		    width: 100%; 
		}
		.browsers .browser-circle {
		    height: 0.5em;
		    width: 0.5em;
		    border-radius: 1em;
		    box-shadow: 0 1px 0px rgba(255, 255, 255, 0.5), inset 0 1px 1px rgba(0, 0, 0, 0.2);
		    display: inline-block;
		    margin: 0.5em 0; 
		}
		.browsers .browser-circle:nth-child(1) {
		    background: #FF6F55;
		    margin-left: 0.5em; 
		}
		.browsers .browser-circle:nth-child(2) {
		    background: #F5B01D;
		    margin-left: 0.16667em; 
		}
		.browsers .browser-circle:nth-child(3) {
		    background: #51B151;
		    margin-left: 0.16667em; 
		}
		.browsers .browser {
		    border-bottom: none;
		    border-top-left-radius: 3px;
		    border-top-right-radius: 3px;
		    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		    display: inline-block;
		    text-align: left;
		    width: 20%; 
		}
		/*
			1st
		*/
		.browsers .browser:nth-child(1) {
		    background-color: #F0F0F0;
		    display: none; 
		}
		@media screen and (min-width: 53.75em) {
		    .browsers .browser:nth-child(1) {
		        display: inline-block; 
		    } 
		}
		.browsers .browser:nth-child(1) .browser-content {
		      /*background: url(/images/nearest/2.png);*/
			background-color: #F0F0F0;
			background-position: top;
			background-repeat: no-repeat;
			background-size: cover; 
		}
		/*
			2nd
		*/
		.browsers .browser:nth-child(2) {
		    -webkit-transform: scale(1);
		    -moz-transform: scale(1);
		    -ms-transform: scale(1);
		    -o-transform: scale(1);
		    transform: scale(1);
		    background-color: white;
		    width: 90%; 
		}
		@media screen and (min-width: 53.75em) {
			.browsers .browser:nth-child(2) {
				-webkit-transform: scale(1.2);
				-moz-transform: scale(1.2);
				-ms-transform: scale(1.2);
				-o-transform: scale(1.2);
				transform: scale(1.2);
				width: 50%; 
			} 
		}
		.browsers .browser:nth-child(2) .browser-content {
			/*background: url(/images/nearest/1.png);*/
			background-color: white;
			background-position: top;
			background-repeat: no-repeat;
			background-size: cover; 
		}
		/*
			3rd
		*/
		.browsers .browser:nth-child(3) {
		    background-color: #F0F0F0;
		    display: none; 
		}
		@media screen and (min-width: 53.75em) {
		    .browsers .browser:nth-child(3) {
		        display: inline-block; 
		    } 
		}
		.browsers .browser:nth-child(3) .browser-content {
			/*background: url(/images/nearest/3.png);*/
			background-color: #F0F0F0;
			background-position: top;
			background-repeat: no-repeat;
			background-size: cover; 
		}
		.browsers .browser-content {
		    border-left: 0px;
		    border-right: 0px;
		    height: 17em;
		    overflow: hidden; 
		}
		@media screen and (min-width: 53.75em) {
		    .browsers .browser-content {
		      	height: 18em; 
		    } 
		}

  	</style>
  	<div class='browsers'>
  		<div class='browser'>
  			<div class="browser-top-bar">
	  			<div class="browser-circle"></div>
	  			<div class="browser-circle"></div>
	  			<div class="browser-circle"></div>
	  		</div>
  			<div class='browser-content'></div>
  		</div>
  		<div class='browser'>
  			<div class="browser-top-bar">
	  			<div class="browser-circle"></div>
	  			<div class="browser-circle"></div>
	  			<div class="browser-circle"></div>
	  		</div>
  			<div class='browser-content'></div>
  		</div>
  		<div class='browser'>
  			<div class="browser-top-bar">
	  			<div class="browser-circle"></div>
	  			<div class="browser-circle"></div>
	  			<div class="browser-circle"></div>
	  		</div>
  			<div class='browser-content'></div>
  		</div>
  		<div class="cover"></div>
 	</div>
</template>




<script>
	// 
	// wrapping up so we don't pollute global context
	// 
 	(function(window, document, undefined) {

 		// 
 		// the importer
 		// 
 		var importerDoc = document;
 		// 
 		// this document
 		// 
 		var thisDoc = importerDoc.currentScript.ownerDocument;
 		// 
 		// this template
 		// 
 		var template = thisDoc.querySelector('template');

 		// 
 		// create object from HTML element prototype
 		// 
		var XFooProto = Object.create(HTMLElement.prototype);

		XFooProto.createdCallback = function() {

			var shadowRoot = this.createShadowRoot();
			var clone = thisDoc.importNode(template.content, true);

			shadowRoot.appendChild(clone);

			this.browsers = shadowRoot.querySelector('.browsers');


			if (this.hasAttribute('src1')) {
				var src1 = this.getAttribute('src1');
				this.setImg(src1, 0);
			}
			if (this.hasAttribute('src2')) {
				var src2 = this.getAttribute('src2');
				this.setImg(src2, 1);
			}
			if (this.hasAttribute('src3')) {
				var src3 = this.getAttribute('src3');
				this.setImg(src3, 2);
			}
		}

		XFooProto.setImg = function(src, index) {
			var nthChild = this.browsers.children[index];
			nthChild.children[1].style.background = 'url(' + src + ')';
			nthChild.children[1].style["background-size"] = 'cover';
		}

		// 
		// REGISTER prototype to an element
		// 
		var XFoo = document.registerElement('project-browsers', {
			prototype: XFooProto
		});

	
	})(window, document);

</script>