section.intro
	.line-behind-text
		h6 ABOUT ME
	p
		a(href='') Sean is a passionate software developer who is fueled by the idea of designing and creating. 

section.projects
	
	//- 
	//- nearest
	//- 
	.line-behind-text
		h6 Nearest
	project-browsers(src1='/images/nearest/2.png', src2='/images/nearest/1.png', src3='/images/nearest/4.png')
	p.project Nearest was a concept of hyper local community where user can utilize the geolocation profile<BR> to create, search and participate events, such as garage sale, soccer game. <BR><BR>The most powerful feature of this community is that it offers business to search for students, <BR>who may have the most connections within the given radius of a certain geolocation. <BR><BR> Business can then sponsor the students in order to leverage the target network. 
	p.keywords 
		a(href='https://www.meteor.com/') Meteor.js 
		a(href='http://leafletjs.com/') Leaflet.js 
		a(href='https://developers.google.com/maps/documentation/javascript/') Google Map API v3
		a(href='http://www.mongodb.org/') MongoDB

	//- 
	//- ts helper
	//- 
	.line-behind-text
		h6 TS Helper
	project-browsers(src1='/images/tsHelper/1.png', src2='/images/tsHelper/2.png', src3='/images/tsHelper/5.png')
	p.project TS Helper is the on going project tailored for Alcatel-Lucent 7x50 Service Router customers.<BR><BR>The goal of this project is to provide users a user friendly interface, which visualizes the information<BR> contained in the tech-support files that were generated from the IP routers.<BR><BR>TS Helper employees a big set of advanced regular expressions to parse meaningful information<BR> from the tech-support files, which averaged in size of 100MB and growing. 
	p.keywords 
		a(href='http://laravel.com/') Laravel 
		a(href='http://jquery.com/') jquery
		a(href='https://developers.google.com/chart/') Google Chart
		a(href='http://getbootstrap.com/') Bootstrap 
		a(href='http://www.mysql.com/') MySQL

	//- 
	//- sig panel
	//- 
	.line-behind-text
		h6 Sig Panel
	project-browsers(src1='/images/sigPanel/3.png', src2='/images/sigPanel/1.png', src3='/images/sigPanel/5.png')
	p.project Sig Panel is the backend control center for TS Helper. <BR><BR> It hosts all regular expressions used by TS Helper, provides the ability for user to <BR>add, remove, edit and validate the regular expression on fly.<BR><BR> It also has a regression daemon to test the regular expressions against a user contributed collection of tech-support files
	p.keywords 
		a(href='http://mean.io/#!/') MEAN.io 
		a(href='http://mgcrea.github.io/angular-strap/') AngularStrap 
		a(href='http://www.mongodb.org/') MongoDB
		a(href='http://www.mysql.com/') MySQL

	//- 
	//- booking tool
	//- 
	.line-behind-text
		h6 Booking Tool
	project-browsers(src1='/images/bookingTool/5.png', src2='/images/bookingTool/2.png', src3='/images/bookingTool/4.png')
	p.project Booking Tool is a hardware resource sharing application built for the internal use among the Alcatel-Lucent 7x50 SR TEC team members.<BR><BR>On top of the basic reserve, release and sharing functions, it also provides a web console<BR>that acts just like regular shell console, only difference is that it has built in authentication proxy<BR> that does all of the SSH authentication in the background and really speeds up the user options.
	p.keywords 
		a(href='http://mean.io/#!/') MEAN.io 
		a(href='http://mgcrea.github.io/angular-strap/') AngularStrap 
		a(href='http://www.mongodb.org/') MongoDB
		a(href='http://d3js.org/') D3.js